<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="widht=device-width, initial-scale=1">
    <title>ESCRIBIR CUENTOS</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="pagina1.html" class="brand-logo center"><img src="../assets/img/Cuentopolis logo principal.jpg" alt="logo switch"></a>
                <a href="login.html" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">exit_to_app</i></a>
                <a href="perfil.html" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">face</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="pagina1.html">Salir</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="menu">
                    <li class="tab"><a href="home.html">INICIO</a></li>
                    <li class="tab"><a href="biblioteca.html">CUENTOS</a></li>
                    <li class="tab"><a href="block.html">ESCRIBE TU CUENTO</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container ">
        <div class="content-select input-field">
            <select id="fragmentos">
            <option value="">¿Cómo quieres que inicie tu cuento?</option>
            <option value="una vez"> Érase una vez </option>
            <option value="reino"> En un reino muy lejano </option>
            <option value="galaxia"> En una galaxia aspiral </option>
            <option value="hadas"> En el bosque de las hadas </option>
            <option value="cdmx"> En la CDMX </option>
        </select>
        </div>

        <div id="content-text">
            <textarea id="type-text" cols="40" rows="5"></textarea>
            <button id="send-text" disabled> Agregar texto </button>
            <!-- <p id="text">hola, feos</p> -->
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>CUENTOPOLIS</h5>
                    <h6>Una pagina web echa para la distraccion literaria de grandes y chicos</h6>
                </div>
            </div>
        </div>
        <div class="footer-copyright center">
            <h5>© 2024 HECHA POR EL GRUPO ROMAN EMPIRE.</h5>
        </div>
    </footer>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>

    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/block.js"></script>
</body>

</html>