<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="widht=device-width, initial-scale=1">
    <title>CUENTOPOLIS</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="navbar-fixed">
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="pagina1.html" class="brand-logo center">
                    <img src="../assets/img/logo cuento.png" alt="logo switch" width="100" height="100"></a>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
            <div class="nav-content">
                <ul class="menu">
                    <li class="tab"><a href="top.html">LIBROS MAS POPULARES</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="../assets/img/fondo.jpg" alt="Mario Odyssey">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>CAPERUCITA ROJA</h3>
                    <h5 class="light grey-text text-lighten-3"> 9.07 millones de personas han leido este cuento</h5>
                </div>
            </li>
            <li>
                <img src="../assets/img/fondo.jpg">
                <div class="caption center-align">
                    <h3>LOS 3 CERDITOS</h3>
                    <h5 class="light grey-text text-lighten-3">7.33 millones de personas han leido este cuento</h5>
                </div>
            </li>
            <li>
                <img src="../assets/img/fondo.jpg">
                <div class="caption center-align">
                    <h3>BLANCA NIEVES Y LOS 7 ENANITOS</h3>
                    <h5 class="light grey-text text-lighten-3">7.33 millones de personas han leido este cuento</h5>
                </div>
            </li>
            <li>
                <img src="../assets/img/fondo.jpg">
                <div class="caption center-align">
                    <h3>EL GATO CON BOTAS</h3>
                    <h5 class="light grey-text text-lighten-3">7.33 millones de personas han leido este cuento</h5>
                </div>
            </li>
        </ul>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>CUENTOPOLIS</h5>
                        <h6>Una pagina web echa para la distraccion literaria de grandes y chicos</h6>
                    </div>
                </div>
            </div>
            <div class="footer-copyright center">
                <h5>© 2024 HECHA POR EL GRUPO ROMAN EMPIRE.</h5>
            </div>
        </footer>
        <script type="text/javascript" src="../js/jquery.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script src="../js/app.js"></script>
</body>

</html>